@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.eCommerce-App {
    background: url('images/bg__left.svg') left 10% no-repeat, url('images/bg__top-right.svg') right top no-repeat, #EFF0F6 url('images/bg__btm-right.svg') right bottom no-repeat;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eCommerce-App> div+div{
    margin-left: 50px;
}

