.Layout {
    @apply rounded-3xl bg-white;
    width: 23.5rem;
    overflow-x: hidden;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    max-height: calc(100vh - 100px);
    min-height: calc(100vh - 100px);
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.1);
}

.Layout h1 {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: bold;
    margin: 20px;
}
